[Unit]
Description=Temperature Daemon
After=network.target

[Service]
ExecStart=/usr/bin/orbiq_system_monitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
